{% extends 'presentation/presentation.html.twig' %}

{% block titleSidenav %}

{% endblock %}

{% block sideNav %}
    <li class="sideNavItem">
        <a href="" class="">Accueil </a>
    </li>
{% endblock %}

{% block titleBody %}
    <h1 class="titleBody">Organisme {{ Organisme.organisme }}</h1>
{% endblock %}


{% block PresentationCardBody %}
    <ul class="card-text">
        <li>RFZ : {{ BaseDefense.idRfz.rfz }}</li>
        <li>Base de défense : {{ BaseDefense.baseDefense }}</li>
        <li>Adresse : {{ Quartier.adresseQuartier }}</li>
    </ul>
{% endblock %}

{% block Child %}
{% endblock %}

