{% extends 'presentation/presentation.html.twig' %}

{% block titleSidenav %}

{% endblock %}

{% block sideNav %}
    <li class="sideNavItem">
        <a href="" class="">Accueil </a>
    </li>
{% endblock %}

{% block titleBody %}
    <h1 class="titleBody">Organisme</h1>
{% endblock %}


{% block PresentationCardBody %}
    test
{% endblock %}