{% extends 'sidenav.html.twig' %}

{% block titleSidenav %}

{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('sidenav') }}
    {{ encore_entry_link_tags('quartiers') }}
{% endblock %}

{% block stylesheetsSidenav %}
    {{ encore_entry_link_tags('sidenav') }}
    {% block styleSheetsGestion %}

    {% endblock %}
{% endblock %}

{% block javascriptsSidenav %}

{% endblock %}

{% block sideNav %}
    <li class="sideNavItem">
        <a href="" class="">Accueil </a>
    </li>
{% endblock %}

{% block body %}
    <h1 class="titre">QUARTIER DE ...</h1>
    <div class="ensemble">
        <div class="encadrement">
            <ul>
                <li>RFZ :</li>
                <li>Base de défense :</li>
                <li>Trigramme :</li>
                <li>Nom du quartier :</li>
                <li>Adresse :</li>
            </ul>
        </div>
        <h2 class="titre">Organismes</h2>
        <div class="encadrement">
            <a href="">hôpital</a>
        </div>
    </div>
{% endblock %}
