{% extends 'sidenav.html.twig' %}

{% block titleSidenav %}OSLO | Contact{% endblock %}

{% block stylesheetsSidenav %}
    {{ encore_entry_link_tags('sidenav') }}
{% endblock %}

{% block javascriptsSidenav %}

{% endblock %}

{% block sideNav %}
    <li class="sideNavItem">
        <a href="" class="">Contact</a>
    </li>
    <li class="sideNavItem">
        <a href="" class="">Contact</a>
    </li>
    <li class="sideNavItem">
        <a href="" class="">Contact</a>
    </li>
{% endblock %}

{% block body %}
    <div class="container">
        <p>
            <strong>Nom : </strong><br />
            <strong>Prénom :</strong><br />
            <strong>Email :</strong><br>
            <strong>TPH :</strong>
        </p>
    </div>

{% endblock %}




