.card{
  border: 1px solid rgba(128, 128, 128, 0.5);
  box-shadow: 0 2px 4px rgba(128, 128, 128, 0.35);
  border-radius: 3px;
  margin-bottom: 2em;
  transition: .1s;
}


.card:hover{
  transition: .1s;
  border: solid 2px rgba(34, 137, 216, 0.5);
}

.card::after, .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: .3s;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 3px;
  background-color: #fdfdfd;
}

.card::after {
  transform: translate(6px,6px);
}

.card::before {
  transform: translate(0,0);
}

.card:hover::before {
  opacity: 1;
  transform: translate(0,0) rotate(-3deg);
}

.card:hover::after {
  transform: translate(6px,6px) rotate(3deg);
}