*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html, body{
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.navbar{
  height: 100px;
  background-image: url("../../public/images/navbarbleu.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: solid 2px black;
  margin-bottom: 2em;
  .navbar-brand{
    margin-left: 3em;
  }
  .dropdown-item:active {
    color: #1e2125;
    background-color: #a4a8ad;
  }
  .nav-item{
    font-size: x-large;
    a.nav-link{
      color: black;
    }
    a.nav-link:before {
      content: "";
      display: block;
      height: 5px;
      background:white;
      position: relative;
      border: none;
      border-radius: 3px;
      top: 41px;
      left: 0;
      width: 100%;
      transition: transform 0.35s ease-out;
      transform-origin: bottom right;
      transform: scaleX(0);
    }
    a.nav-link:hover:before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    a.nav-link:after{
      display: none;
    }
  }
}