{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block title %}OSLO | Accueil{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
    <h1>test</h1>
{% endblock %}