{{ form_start(form, { attr: {class: 'filter js-filter-form'}}) }}


<h4 class="mt-3">Organismes</h4>
<div class="col-4 scrollEntity">
    {{ form_row(form.idOrganisme) }}
</div>

<h4 class="mt-3">Bases de défense</h4>
<div class="col-4 scrollEntity">
    {{ form_row(form.idBaseDeDefense) }}
</div>

<button type="submit" class="btn btn-outline-secondary mt-3">Appliquer les filtres <i class="fas fa-search"></i></button>

{{ form_end(form) }}