{{ form_start(form, { attr: {class: 'filter js-filter-form'}}) }}


<h4 class="mt-3">Organismes</h4>
<div class="col-4 scrollEntity">
    {{ form_row(form.idOrganisme) }}
</div>

<h4 class="mt-3">Bases de défense</h4>
<div class="col-4 scrollEntity">
    {{ form_row(form.idBaseDeDefense) }}
</div>

<input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>

<button type="submit" class="btn btn-outline-secondary mt-3">Appliquer les filtres <i class="fas fa-search"></i></button>

{{ form_end(form) }}