{% extends 'base.html.twig' %}

{% block title %}OSLO | Administration des routeurs fédérateurs de zone {% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}

    <div id="main" class="mx-auto flex-column">
        <h1>Routeurs fédérateurs de zone</h1>
    </div>
{% endblock %}