{{ form_start(form, { attr: {class: 'filter js-filter-form'}}) }}

<h4 class="mt-3">Quartiers</h4>
<div class="col-4 scrollEntity">
    {{ form_row(form.idQuartier) }}
</div>

<button type="submit" class="btn btn-outline-secondary mt-3">Appliquer les filtres <i class="fas fa-search"></i></button>

{{ form_end(form) }}