<div class="filterLine">
    <div class="form-floating mb-3 col-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="projet" name="projetFilter">
        <label for="floatingInput">Projet</label>
    </div>
    <div class="col-2 priorityFilter">
        <h5>Priorité :</h5>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                P1
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                P2
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                P3
            </label>
        </div>
    </div>
    <div class="col-2">
        <select class="form-select mb-3" aria-label="Default select example">
            <option selected>Supérieur au montant</option>
            <option value="1">Inférieur au montant</option>
        </select>
    </div>
    <div class="mb-3 col-4">
        <label for="customRange2" class="form-label">Montant</label>
        <input type="range" class="form-range" min="0" max="5" id="customRange2">
    </div>
</div>
<div class="filterLine">
    <div class="col-4">
        <select class="form-select mb-3" aria-label="Default select example">
            <option selected>Organisme</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-2">
        <select class="form-select mb-3" aria-label="Default select example">
            <option selected>Trigramme</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-1">
        <select class="form-select mb-3" aria-label="Default select example">
            <option selected>avant</option>
            <option value="1">après</option>
        </select>
    </div>
    <div class="col-3">
        <div class="input-group mb-3 date datepicker">
            <input type="text" class="form-control" placeholder="Échéance" aria-label="datepicker" aria-describedby="basic-addon1" name="date"><span class="input-group-addon"></span>
            <span class="input-group-text" id="basic-addon1"><i class="far fa-calendar-alt"></i></span>
        </div>
    </div>
</div>
<div class="filterLine">
    <div class="col-3">
        <select class="form-select mb-3" aria-label="Default select example">
            <option selected>État</option>
            <option value="1">Prévu</option>
            <option value="1">Traité</option>
        </select>
    </div>
    <div class="form-floating mb-3 col-8">
        <input type="text" class="form-control" id="floatingInput" placeholder="projet" name="projetFilter">
        <label for="floatingInput">Commentaire</label>
    </div>
</div>