body{
    overflow:hidden;
}

.cover-container{
    position: absolute;
    top: 150px;
    left: 100px;
}

.nom1{
    color:grey;
}

.nom2{
    color:grey;
}

.accueil{
    color:grey;
}

ul.div{
    display: inline;
    color:grey;
    position:absolute;
    top:108px;
}

.bouton{
    position: absolute;
    top: -20px;
    left: 700px;
}

#retourBtn{
    position: absolute;
    bottom: 1em;left: .5em;
}