.tableContent{
  margin-right: 2em;
  overflow-x: scroll;
}

.sorting{
  margin: 1em 2em;
  display: flex;
  justify-content: end;
}

.js-filter-content{
  padding-left: 0;
}

.js-filter-form{
  form{
    padding-left: 0;
  }
}

.Entity-card{
  .card-content{
    max-height: 33vh;
    transition: max-height .3s ease-in-out;
    overflow-y: hidden;
  }
  .active{
    max-height: none;
  }
  .label{
    font-weight: 500;
  }
  .card-title{
    display: flex;
    justify-content: space-between;
  }
}

.scrollEntity{
  height: 100px;
  background-color: #fdfdfd;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  overflow-y: scroll;
}


.is-loading::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #FFFFFF;
  opacity: 0.5;
  z-index: 0;
}

.is-loading{
  .spinner-border{
    position: absolute;
    left: calc(50% - 1rem);
    top: calc(50% - 1rem);
  }
}