.encadrementChild {
  justify-content: space-around;
  border-width: 5px;
  padding: 2em;
  background-color: white;
  border-top-color: #5993FD;
  border-top-style: inset;
  border-top-left-radius: 1em;
  border-left-color: #5993FD;
  border-left-style: inset;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 30%);
  margin: 1em 3em;
  font-size: large;
  font-weight: 600;
}

.titleChild, .titleBody {
  text-align: center;
  margin-bottom: 1em;
}

.ensemble {
  justify-content: flex-start;
}

li {
  font-weight: bold;
}

.infoPresentation{
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
}