.encadrement {
  justify-content: space-around;
  border-width: 5px;
  padding: 3%;
  background-color: white;
  border-top-color: #5993FD;
  border-top-style: inset;
  border-top-left-radius: 10px;
  border-left-color: #5993FD;
  border-left-style: inset;
  border-left-right-radius: 10px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 30%);
  margin: 1em;
}

.titre {
  text-align: center;
  margin-bottom: 1em;
}

.ensemble {
  justify-content: flex-start;
}

li {
  font-weight: bold;
}

.infoQuartiers{
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
}