.encadrement {
  justify-content: space-around;
  border-width: 10px;
  border-color: #5993FD;
  border-style: solid;
  padding: 10px;
  background-color: white;
}

.titre {
  text-align: center;
}

.ensemble {
  justify-content: flex-start;
}

li {
  font-weight: bold;
}