{% extends 'base.html.twig' %}

{% block title %}
    {% block titleSidenav %}

    {% endblock %}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('sidenav') }}
    {% block stylesheetsSidenav %}

    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('sideNav') }}
    {% block javascriptsSidenav %}

    {% endblock %}
{% endblock %}

{% block SideNavBase %}
    <div id="sideNav">
        <ul>
            {% block sideNav %}

            {% endblock %}
        </ul>
    </div>
{% endblock %}



{% block body %}


{% endblock %}




